@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply bg-primary
  focus-visible:outline-primary
  hover:bg-indigo-700
  p-3
  font-semibold
  text-white
  shadow-sm
  border-0
  focus-visible:outline
  text-xl;
}

.btn-secondary {
  @apply bg-slate-600
  focus-visible:outline-slate-600
  hover:bg-slate-700
  p-3
  font-semibold
  text-white
  shadow-sm
  border-0
  focus-visible:outline
  text-xl;
}
